{% cache globally %}<div class="footer-wrapper">
<footer class="site-footer" role="contentinfo">
  <div class="footer-supplemental">
    <div class="footer-call-to-action">
      {% for icon in footer.ctaIcon %}
        <img src="{{ icon.getUrl }}" alt="{{ icon.title }}" />
      {% endfor %}
      <h3>{{ footer.cta }}</h3>
      {{ footer.ctaDescription }}
    </div>
    <div class="footer-contact">
      <ul>
        {% for network in footer.socialMedia %}
          {% if network.type == "social" %}
            <li>
              <a href="{{ network.socialUrl }}">
              {% for icon in network.socialIcon %}
                <img src="{{ icon.getUrl }}" alt="" />
              {% endfor %}
              {{ network.socialName }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="footer-bottom">
        <p class="footer-bottom__link"><a href="{{footer.footerUrl}}">{{footer.footerUrlName}}</a></p>
        <div class="footer-bottom__legal">{{footer.footerCopyright}}</div>
      </div>
    </div>
  </div>
</footer>
</div>
{% endcache %}
<!--Stuff for After the Footer -->
<script async src="{{ siteUrl }}/scripts/min/scripts-min.js"></script>
