{% cache globally %}<div class="header-wrapper">
<header class="site-header">
	  <a href="{{ siteUrl }}" class="site-logo">
			{% for logo in header.siteLogo %}
	    	<img src="{{ logo.getUrl }}" alt="logo.title" />
			{% endfor %}
	  </a>
	<nav>
	  <ul>
	    <li><a href="{{ siteUrl }}blog">Writing &amp; Talks</a></li>
	    <li><a href="{{ siteUrl }}work">Work</a></li>
	    <li><a href="{{ siteUrl }}about">About</a></li>
	    <li><a href="{{ siteUrl }}contact">Contact Me</a></li>
	  </ul>
	</nav>
</header>
</div>
{% endcache %}
