<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="S3JpRmacKSwxJ1d6aArAKYrfQZG7JKnFxGB6cJdL-zI" />
  <title>{% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}</title>
  <meta name="Description" content="Website/portfolio for Christopher Hallahan, a web and UX designer in Cleveland, Ohio">
  {% if entry is defined %}
    {% if entry.section.handle == 'landingPage' or entry.hiddenItem %}
      <meta name="robots" content="noindex">
    {% endif %}
  {% endif %}
  {% cache globally %}
  <link rel="mask-icon" href="{{siteUrl}}/favicon/website_icon.svg" color="rgb(2,79,105)">
  <link rel="apple-touch-icon" sizes="57x57" href="{{siteUrl}}/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{siteUrl}}/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{siteUrl}}/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{siteUrl}}/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{siteUrl}}/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{siteUrl}}/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{siteUrl}}/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{siteUrl}}/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{siteUrl}}/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{siteUrl}}/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{siteUrl}}/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{siteUrl}}/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{siteUrl}}/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{siteUrl}}/favicon/manifest.json">
  {% if not craft.config.devMode %}
  <meta http-equiv="Content-Security-Policy" content="default-src hallahan.web chris.web www.youtube.com; manifest-src 'self'; script-src 'self' https://chrishallahan.com www.chrishallahan.com www.challahan.com challahan.com chris.web chrishallahan.com www.google-analytics.com ajax.googleapis.com; connect-src 'self'; img-src 'self' chrishallahan.com https://chrishallahan.com www.google-analytics.com; style-src 'self' https://chrishallahan.com fonts.googleapis.com 'unsafe-inline'; font-src 'self' fonts.gstatic.com;">
  {% endif %}
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="{{siteUrl}}/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="canonical" href="{{ siteUrl }}">
  <link rel="alternate" type="application/rss+xml" title="Title goes here" href="{{siteUrl}}/feed.xml" />
  {% endcache %}
      {% block critical %}
      <style type="text/css">
        {% if entry is defined %}
          {% if entry.section.handle == 'work' %}
            /* Critical CSS for Work */
            {% include '_includes/critical-work.css' %}
          {% elseif entry.section.handle == 'project' %}
            /* Critical CSS for Projects */
            {% include '_includes/critical-project.css' %}
          {% elseif entry.section.handle == 'landingPage' %}
              /* Critical CSS for Projects */
              {% include '_includes/critical-landing.css' %}
          {% else %}
            /* Critical CSS for Home */
            {% include '_includes/critical-home.css' %}
          {% endif %}
        {% endif %}
        {% if category is defined %}
          {% if craft.categories.group('projectType') %}
            {% include '_includes/critical-work.css' %}
          {% endif %}
        {% endif %}
      </style>
      {% endblock %}
  {% if entry is defined %}
    {% if entry.section.handle == 'landingPage' %}
      <script src="{{ siteUrl }}/scripts/delighters.js"></script>
      <script async src="{{ siteUrl }}/scripts/min/loadcss-landing-min.js"></script>
      <noscript><link href="{{ siteUrl }}/css/landing.css" rel="stylesheet"></noscript>
      {% else %}
      <script async src="{{ siteUrl }}/scripts/min/loadcss-min.js"></script>
      <noscript><link href="{{ siteUrl }}/css/style.css" rel="stylesheet"></noscript>
    {% endif %}
      {% else %}
      <script async src="{{ siteUrl }}/scripts/min/loadcss-min.js"></script>
      <noscript><link href="{{ siteUrl }}/css/style.css" rel="stylesheet"></noscript>
  {% endif %}
</head>
