/craft/config/db.php
craft/app/*
craft/storage/
critical.scssc
_base.scssc
_feature-block.scssc
_footer.scssc
_header.scssc
_highlight.scssc
_lists.scssc
_navigation.scssc
_posts.scssc
_project.scssc
_tables.scssc
_typography.scssc
_variables.scssc
_video.scssc
main.scssc
_buttons.scssc
annual-report-2015.jpg
annual-report-2015_7594429569106400fe95b7593f40bb0c.jpg
node_modules
.sass-cache
/html/assets/feature
/html/imager
.DS_Store
/craft/config/license.key
/html/assets/global/
/html/assets/headshot/
/html/assets/global/_postLarge
/html/assets/global/23915998_10106387156095014_2730882247010842481_n.jpg
/html/package-lock.json
/html/cpresources
/craft/storage/logs/web.log
/craft/vendor