{#

  Project Template

#}

{% do craft.templateGuard.protect('hallahan2022', 'secret-pages-group') %}
{% extends "_post" %}
{% block title %}{{ entry.title }}{% endblock %}
{% block more %}<a href="{{siteUrl}}work">See More Work</a>{% endblock more %}
{% block pagecontent %}
  <main class="project-post">
    <aside class="project-aside">
      {% if entry.featureImage %}
      <div class="project-thumb-large" id="lightgallery">
        {% for image in entry.featureImage %}
          {% if loop.first %}
          <a href="{{ image.getUrl('full') }}" class="project-thumb-large__first">
        	   <img src="{{ image.getUrl('postLarge') }}" alt="{{ image.title }}" />
          </a>
          {% else %}
            <a href="{{ image.getUrl('full') }}" class="project-thumb-large__thumb">
          	   <img src="{{ image.getUrl('postThumb') }}" alt="{{ image.title }}" />
            </a>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
      <dl class="work-stats">
        <dt>Completed:</dt>
        <dd>{{entry.postDate|date("F Y")}}</dd>
      </dl>
      {% if entry.projectType | length %}
      {% set categories = entry.projectType %}
      <dl class="work-stats">
      <dt>Category:</dt>
        <dd>
        {% for category in categories %}
          <span class="work-stats__item">{{category.title}}</span>
        {% endfor %}
        </dd>
        </dl>
      {% endif %}
      {% if entry.skills | length %}
          <dl class="work-stats">
          <dt>Skills:</dt>
          <dd>
            {% set categories = entry.skills %}
            {% for category in categories %}
              <span class="work-stats__item">{{ category.title}}</span>
            {% endfor %}
          </dd>
          </dl>
      {% endif %}
      {% if entry.relatedUrl %}
        <a class="button" href="{{ entry.relatedUrl }}">View the Project</a>
      {% endif %}
    </aside>
    <article role="article" class="project-post-content">
      {% for block in entry.postBody %}
          {% if block.type == "text" %}
              {{ block.bodytext }}
          {% endif %}
      {% endfor %}
    </article>
  </main>
{% endblock %}
