{#

 Project Category Template

#}

{% extends "_page" %}

  {% block title %}Work: {{category.title}}{% endblock %}
  {% paginate craft.entries.section('project').limit(12).relatedTo(category) as pageInfo, pageEntries %}
  {% block filter %}
    {% include '_includes/_filter.html' %}
  {% endblock %}
  {% block pagecontent %}
  <div class="post">
      <article role="article" class="post-content">
          {% include '_includes/_project-list.html' %}
        </article>
  </div>
  {% endblock %}
