{#

  Blog Template

#}

{% extends "_post" %}

{% block title %}{{ entry.title }}{% endblock %}
{% block date %}{{ entry.postDate | date("M d, Y") }}{%endblock %}
{% block author %}{{ entry.author.fullName }}{% endblock author %}
{% block more %}<a href="{{siteUrl}}blog">See More Posts</a>{% endblock more %}
{% block pagecontent %}
  <main class="blog-post">
    {% if entry.featureImage %}
      {% for image in entry.featureImage %}
      <div class="post-thumb-large">
      	<img src="{{ image.getUrl('postLarge') }}" alt="{{ image.title }}" />
      </div>
      {% endfor %}
    {% endif %}
    <article role="article" class="post-content">
      {% for block in entry.postBody %}
          {% if block.type == "text" %}
              {{ block.bodytext }}
          {% elseif block.type =="video" %}
              <iframe width="100%" height="auto" src="{{ block.videoUrl }}" frameborder="0" allowfullscreen></iframe>
          {% elseif block.type == "image" %}
              <figure class="article__figure">
              {% set image = block.image.first() %}
              {% if image %}
                  <div class="article__image article__media">
                    <img src="{{ image.getUrl('postLarge') }}" alt="{{ image.title }}" />
                  </div>
              {% endif %}
              {% if block.imageCaption %}
                  <figcaption class="article__caption">{{ block.imageCaption }}</figcaption>
              {% endif %}
              </figure>
          {% elseif block.type == "pullQuote" %}
          <div class="article-container">
              <blockquote class="article__quote">
                  <span class="article__quote__text">{{ block.quoteText }}</span>
                  <cite class="article__quote__author">– {{ block.quoteAuthor }}</cite>
              </blockquote>
          </div>
          {% endif %}
      {% endfor %}
    </article>
    {% if entry.relatedUrl %}
      <a class="button" href="{{ entry.relatedUrl }}">View the Project</a>
    {% endif %}
  </main>
{% endblock %}
