{#
 # Main Hallahan Layout template
 # ---------------
 #
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  {% include '_includes/_head.html' %}
  <body>
    {% include '_includes/_header.html' %}
    {% block content %}
		{% endblock %}
    {% include '_includes/_footer.html' %}
    {% if craft.config.devMode %}
  <!-- Live Reload - For local environment only -->
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('{{siteUrl}}scripts/service-worker.js');
      });
    }
  </script>
  </body>
</html>
