{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # https://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  <section class="feature-block-container">
    <div class="feature-block">
      <h1>{{ header.siteTitle }}</h1>
      <h2>{{ entry.subtitle }}</h2>
    </div>
  </section>
  <main>
    <div class="feature-headshot">
      {% for headshot in entry.headshot %}
      <img src="{{headshot.getUrl('headshotSmall')}}" srcset="{{headshot.getUrl}} 600w,
        {{headshot.getUrl('headshotSmall')}} 200w" sizes="50%" alt="{{ headshot.title }}" />
      {% endfor %}
    </div>
    <section class="introduction">
	   {{ entry.body }}
   </section>
   <section class="highlight-container">
     Highlights will eventually go here.
   </section>
  </main>
{% endblock %}
